.back{
    padding-left: 18px;
    font-size: 18px;
    font-weight: bold;
    float: left;
}
.weui-tabbar__item{
    font-size: inherit;
}

.arrow-left {
    padding: 0 20px;
    float: left;
    border-right: 1px solid #666;
}
.arrow-left:active{
    background: #666;
}

.weui-tab__panel, .weui-page {
    padding-top: 50px;
    padding-bottom: 53px;
    height: auto;
    z-index: 1;
}
.weui-navbar {
    background: #333;
    color: #fff;
}
.weui-navbar__item:active{
    background: #333;
}
.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.last-msg{
    font-size: 12px;
    color: #666;
}
.weui-cells{
    font-size: 15px;
}
.message:after{
    border: 0;
}
.message:before{
     border: 0;
 }
.message .weui-cell:before{
    border: 0;
}